extends layout

block scripts
  script(src=Config.BASE_URL + '/javascripts/apps.js')

block page_name
  = _("My Rules")

block styles
  link(rel='stylesheet', href=Config.BASE_URL + '/stylesheets/my_stuff.css')

block content
  if message
    div.row
      div.col-xs-12
        div.alert.alert-success.alert-dismissible.fade.in(role='alert')
          button(type='button', data-dismiss='alert', aria-label="Close").close
            span(aria-hidden='true') ×
          p= message

  for app in apps
    div.row
      div.col-lg-6.col-xs-12.app-template
        form.form-inline(action=Config.BASE_URL + "/apps/delete",method="post").form-delete.form-delete-app
          input(type='hidden',name='id',value=app.uniqueId)
          input(type='hidden',name='_csrf',value=csrfToken)
          button(type='submit').btn.btn.btn-warning= _("Stop")
        p= app.description
        if app.error
          p= _("This rule had an error: %s").format(app.error)
