extends layout

block scripts
  script(src=Config.BASE_URL + '/javascripts/qrcode.js')
  script(src=Config.BASE_URL + '/javascripts/config.js')

block page_name
  = _("Configuration")

block content
  div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title=_("Server")
    div.panel-body.panel-body-conf
      p=_("The server is up and running at: ")
        | #{server.name}
        | ,
        = _(" port")
        | #{server.port}
        | .

      if server.extraAddresses.length > 0
        p=_("The server is also reachable at: ")
          | #{server.extraAddresses.join(', ')}
          | .

      //if server.initialSetup
        p.text-danger The server is in initial setup mode and thus open to
          |  all external access. Pair your phone now!

      p=_("Access to this server requires a password.")
      p.new-button
        a.btn.btn-primary(role='button',data-toggle='collapse',href='#change-server-password',aria-expanded=(user.error != null))
          =_("Change Password")

      div(class=(user.error != null ? 'well' : 'well collapse'))#change-server-password
        if user.error
          div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
            button(type='button', data-dismiss='alert', aria-label="Close").close
              span(aria-hidden='true') ×

            p= user.error

        form(action=Config.BASE_URL + '/config/set-server-password',method='post',data-toggle='validator')
          input(type='hidden',name='_csrf',value=csrfToken)
          div.form-group
            label(for='password').control-label=_("Password")
            input(type='password',name='password',value=user.password,required=true,maxlength=255,minlength=8,data-minlength=8).form-control#password
            span.help-block=_("Minimum of 8 characters")

          div.form-group
            label(for='confirm-password').control-label=_("Confirm password")
            input(type='password',name='confirm-password',value='',required=true,data-match='#password',data-match-error="The password and the confirmation must match").form-control#confirm-password
            span.help-block.with-errors

          div.new-button.form-group
            button(type='submit').btn.btn-primary=_("Change")

  div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title=_("Options")
    div.panel-body.panel-body-conf
      form(action=Config.BASE_URL + '/config/set-options',method='post',data-toggle='validator')
        input(type='hidden',name='_csrf',value=csrfToken)
        div.form-group.form-inline
          div.checkbox
            label(for='setting-data-collection').control-label
              input(type='checkbox',name='data_collection',value='1',checked=settings.data_collection)#setting-data-collection
              = _(" Send anonymized commands to the authors of Genie for training.")
            span.help-block
              != _("Genie is a research project from Stanford University. If you would like to participate to help us, you can allow us to collect the commands that you type. We only collect what you type, not your data, or what Genie replies. Please review the <a href='https://oval.cs.stanford.edu/almond-consent-form.html'>Consent Form</a> and keep it for your records before agreeing.")

        div.form-group.form-inline
          div.checkbox
            label(for='setting-voice-input').control-label
              input(type='checkbox',name='voice_input',value='1',checked=settings.voice_input)#setting-voice-input
              = _(" Enable voice input (wake word activation and speech to text).")

        div.form-group.form-inline
          div.checkbox
            label(for='setting-voice-output').control-label
              input(type='checkbox',name='voice_output',value='1',checked=settings.voice_output)#setting-voice-output
              = _(" Enable voice output (text to speech).")

        div.new-button.form-group
          button(type='submit').btn.btn-primary=_("Save")

  //-div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title Cloud
    div.panel-body
      if cloud.isConfigured
        p You successfully logged in with your cloud account.
        p Your cloud ID is <samp>#{cloud.id}</samp>
      else
        p You did not log in to a Almond Cloud account.
        //You can do it now.

        //if cloud.error
          div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
            button(type='button', data-dismiss='alert', aria-label="Close").close
              span(aria-hidden='true') ×

            p= cloud.error

        //form(action=Config.BASE_URL + '/config/cloud-setup', method='post').form-inline
          input(type='hidden',name='_csrf',value=csrfToken)
          p
            span.form-group
              label(for='username').control-label Username
              input(type='text', name='username', value=cloud.username)#username.form-control

            span.form-group
              label(for='password').control-label Password
              input(type='password', name='password')#password.form-control

          p
            span.form-group
              button(type='submit').btn.btn-primary Log in

        //p Don't have an account yet?
          a(href='https://thingengine.stanford.edu/user/register') Register now!

  //-div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title Phone
    div.panel-body
      div#config-phone-desktop-browser
        p!= _("To link your phone to this Almond, you must visit the address <samp>%s</samp> from a mobile browser.").format(server.address)

        p!= _("Alternatively, you can scan this QR code:")
          div#qrcode-target= qrcodeTarget
          div#qrcode-placeholder

      p#config-phone-mobile-browser(aria-hidden='true')
        a(href=qrcodeTarget).btn.btn-primary= _("Configure")
