extends layout

block page_name
  | Initial Configuration

block content
  h2 Welcome to Almond!

  p
    | You must configure a password before you use your Almond.
    if Config.ENABLE_DB_ENCRYPTION
      |  This password will be used to generate a secure encryption key to store your saved credentials.

  each error in errors
    div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×
      p= error

  form(action=Config.BASE_URL + '/user/configure', method='post',data-toggle='validator')
    input(type='hidden',name='_csrf',value=csrfToken)
    div.form-group
      label(for='password').control-label Password
      input(type='password',name='password',value=password).form-control#password
    div.form-group
      label(for='confirm-password').control-label Confirm password
      input(type='password',name='confirm-password',value='',required=true,data-match='#password',data-match-error="The password and the confirmation must match").form-control#confirm-password
      span.help-block.with-errors
    div.consent_conf
      +consent_form
      div.form-group
          div.checkbox
            label.control-label
              input(type='checkbox',name='agree_consent',id='register-agree-consent',value='1',required=true)
              =_("I agree to grant consent to this research.")
    div.form-group
      button(type='submit').btn.btn-primary Configure
    


mixin consent_form
  h2=_("Consent Form")

  div.consent-form
    p
      | You are invited to participate in a research study on virtual assistants. With your consent, the Almond virtual assistant will record the commands you give it.
      | Recording the commands will allow Almond virtual assistant to improve its understanding of natural language. The collection is completely confidential, and personal data (such as emails and phone numbers) will be stripped automatically.
      | You must be 18 or older to participate, and currently residing in the United States.

    h3 Risks and Benefits
    p
     | We do not foresee any risk from this study. The benefits which may reasonably be expected to result from this study are that the open-source Almond virtual assistant improves over time. We cannot and do not guarantee or promise that you will receive any benefits from this study.
     | Your decision whether or not to participate in this study will not affect the functionality of the Almond virtual assistant service, or your ability to use it.
     | You will not receive any payment for your participation.

    h3 Participant Rights
    p
      | If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled.  The alternative is not to participate.  You have the right to refuse to answer particular questions.  The results of this research study may be presented at scientific or professional meetings or published in scientific journals.  Your individual privacy will be maintained in all published and written data resulting from the study.

    p
      | Your private information collected as part of the research might be shared with other researchers in anonymized form in the future, without additional consent from you.

    h3 Contact Information

    p
      | Questions:  If you have any questions, concerns or complaints about this research, its procedures, risks and benefits, contact the Protocol Director, Giovanni Campagna, at [gcampagn [at] cs.stanford.edu].

    p
      | Independent Contact:  If you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Stanford Institutional Review Board (IRB) to speak to someone independent of the research team at (650)-723-2480 or toll free at 1-866-680-2906, or email at IRB2-Manager@lists.stanford.edu.  You can also write to the Stanford IRB, Stanford University, 1705 El Camino Real, Palo Alto, CA 94306.

    p If you agree to these terms, please keep a copy of this form for your records.