extends layout

block scripts
  script(src=Config.BASE_URL + '/javascripts/qrcode.js')
  script(src=Config.BASE_URL + '/javascripts/config.js')

block page_name
  = _("Configuration")

block content
  div.modal.fade#add-new-ingress-token(role='dialog')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          a.close(data-dismiss='modal', aria-label="Close")
            span(aria-hidden='true') ×
          h4.modal-title= _("New Client")
        div.modal-body
          p=_("To configure a new speaker to connect to this server, you need to create an access token for it.")
          p= _("Enter a name for the speaker. The new access token will appear in the list of configured clients.")

          form(action=Config.BASE_URL + '/config/ingress-token', method='post',data-toggle='validator')
            input(type='hidden',name='_csrf',value=csrfToken)
            div.form-group
              label(for='ingress-token-name').control-label=_("Name")
              input(type='name',name='name',required=true).form-control#ingress-token-name

            div.new-button.form-group
              button(type='submit').btn.btn-primary=_("Create")

  div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title=_("Server")
    div.panel-body.panel-body-conf
      p=_("The server is up and running at: %s").format(server.origin)

      //if server.initialSetup
        p.text-danger The server is in initial setup mode and thus open to
          |  all external access. Pair your phone now!

      if Config.IN_HOME_ASSISTANT_ADDON
        p=_("Access to this server is controlled by Home Assistant.")
      else if Config.HOST_BASED_AUTHENTICATION !== 'insecure'
        p=_("Access to this server requires a password.")
      else
        p.text-danger= _("This server has no authentication.")
      p.new-button
        a.btn.btn-primary(role='button',data-toggle='collapse',href='#change-server-password',aria-expanded=(user.error != null))
          =_("Change Password")

      div(class=(user.error != null ? 'well' : 'well collapse'))#change-server-password
        if user.error
          div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
            button(type='button', data-dismiss='alert', aria-label="Close").close
              span(aria-hidden='true') ×

            p= user.error

        form(action=Config.BASE_URL + '/config/set-server-password',method='post',data-toggle='validator')
          input(type='hidden',name='_csrf',value=csrfToken)
          div.form-group
            label(for='password').control-label=_("Password")
            input(type='password',name='password',value=user.password,required=true,maxlength=255,minlength=8,data-minlength=8).form-control#password
            span.help-block=_("Minimum of 8 characters")

          div.form-group
            label(for='confirm-password').control-label=_("Confirm password")
            input(type='password',name='confirm-password',value='',required=true,data-match='#password',data-match-error="The password and the confirmation must match").form-control#confirm-password
            span.help-block.with-errors

          div.new-button.form-group
            button(type='submit').btn.btn-primary=_("Change")

  div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title=_("Options")
    div.panel-body.panel-body-conf
      form(action=Config.BASE_URL + '/config/set-options',method='post',data-toggle='validator')
        input(type='hidden',name='_csrf',value=csrfToken)
        div.form-group.form-inline
          div.checkbox
            label(for='setting-data-collection').control-label
              input(type='checkbox',name='data_collection',value='1',checked=settings.data_collection)#setting-data-collection
              = _(" Send anonymized commands to the authors of Genie for training.")
            span.help-block
              != _("Genie is a research project from Stanford University. If you would like to participate to help us, you can allow us to collect the commands that you type. We only collect what you type, not your data, or what Genie replies. Please review the <a href='https://oval.cs.stanford.edu/almond-consent-form.html'>Consent Form</a> and keep it for your records before agreeing.")

        div.new-button.form-group
          button(type='submit').btn.btn-primary=_("Save")

  div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title= _("External Clients")

    div.panel-body.panel-body-conf
      p=_("Use the following configuration to connect a client to this server:")
      p
        strong=_("URL: ")
        = `${server.origin.replace(/^http/, 'ws')}${Config.BASE_URL}/api/conversation`
      if Config.IN_HOME_ASSISTANT_ADDON
        p
          strong= _("Authentication mode: ")
          code home-assistant
        p
          strong= _("Access token: ")
          =_("go to the Home Assistant UI to create a long-lived access token")
      else
        p
          strong= _("Authentication mode: ")
          code bearer
        p
          strong= _("Access token: ")
          code= accessToken
      p
        strong= _("Conversation ID: ")
        = _("associate a unique conversation ID for each client you wish to connect.")


  //-div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title Cloud
    div.panel-body
      if cloud.isConfigured
        p You successfully logged in with your cloud account.
        p Your cloud ID is <samp>#{cloud.id}</samp>
      else
        p You did not log in to a Genie Cloud account.
        //You can do it now.

        //if cloud.error
          div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
            button(type='button', data-dismiss='alert', aria-label="Close").close
              span(aria-hidden='true') ×

            p= cloud.error

        //form(action=Config.BASE_URL + '/config/cloud-setup', method='post').form-inline
          input(type='hidden',name='_csrf',value=csrfToken)
          p
            span.form-group
              label(for='username').control-label Username
              input(type='text', name='username', value=cloud.username)#username.form-control

            span.form-group
              label(for='password').control-label Password
              input(type='password', name='password')#password.form-control

          p
            span.form-group
              button(type='submit').btn.btn-primary Log in

        //p Don't have an account yet?
          a(href='https://thingengine.stanford.edu/user/register') Register now!

  //-div.panel.panel-default.config-unit
    div.panel-heading
      h2.panel-title Phone
    div.panel-body
      div#config-phone-desktop-browser
        p!= _("To link your phone to this Genie, you must visit the address <samp>%s</samp> from a mobile browser.").format(server.address)

        p!= _("Alternatively, you can scan this QR code:")
          div#qrcode-target= qrcodeTarget
          div#qrcode-placeholder

      p#config-phone-mobile-browser(aria-hidden='true')
        a(href=qrcodeTarget).btn.btn-primary= _("Configure")
