extends layout

block scripts
  script(src=Config.BASE_URL + '/javascripts/conversation.js')

block styles
  link(rel='stylesheet', href=Config.BASE_URL + '/stylesheets/spinner.css')
  link(rel='stylesheet', href=Config.BASE_URL + '/stylesheets/conversation.css')

block page_name
  = _("Chat")

block content
  div.modal#comment-popup
    div.modal-dialog
      form(method='post')
        div.modal-content
          div.modal-body
            div.form-group
              label(for='comment-block').control-label= _("Write your comment for the last response")
              textarea.form-control#comment-block
          div.modal-footer
            div.form-group
              button(type='submit').btn.btn-primary= _("Comment")

  div#toolbar
    div.form-inline
      div.form-group#save-log
        i.far.fa-save#save-button
        span= _("Save Conversation Log")

  div.modal#recording-save
    div.modal-dialog
      div.modal-content
        div.modal-body
          p= _("The conversation log has been updated.")
          pre#recording-log
          p.small= _("Privacy warning: The log may include your account and device names, as well as the results from performing actions on your accounts.")
        div.modal-footer
          button.btn.btn-primary#recording-download= _("Download")
          a(target='_blank',rel='noopener').btn.btn-primary#recording-share= _("Share with Almond Team")
          button.btn.btn-default#recording-save-done= _("Done")

  div#conversation.single
    div#chat
    div#input-block
      span(role='button').hidden#cancel
        span(aria-hidden='true').glyphicon.glyphicon-remove-circle
        span.sr-only= _("Cancel")
      form(action='#')#input-form
        div.form-group.has-feedback#input-form-group
          label(for='#chat-input').sr-only= _("Command:")
          input(type='text', placeholder=_("Write your command or answer here"), value=command ? command : '').form-control#input
          span.spinner-container.form-control-feedback.hidden
            span.spinner= _("Almond is thinking…")
          span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
          span.help-block.hidden= _("Lost connection to the server.")
