ul.nav.navbar-nav
  if authenticated
    li.hidden-md.hidden-lg
      a(class="scroller", href=Config.BASE_URL + "/") Conversation
    li
      a(class="scroller", href=Config.BASE_URL + "/apps") My Rules
    li
      a(class="scroller", href=Config.BASE_URL + "/devices") My Skills
    li
      a(class="scroller", href=Config.THINGPEDIA_URL + "/cheatsheet") Cheatsheet

ul.nav.navbar-nav.navbar-right
  if authenticated
    li
      a(class="scroller", href=Config.BASE_URL + "/config") Configuration
    li
      a.navbar-login#navbar-login-button(class="scroller", href=Config.BASE_URL + "/user/logout") Log out
