extends layout

block page_name
  | #{name}

block content
  div.app-content
    if description
      p=description

    if hasOutVariables
      p
        a(href='/apps/' + appId + '/results').btn.btn-success Show App Results

    if error
      div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
        button(type='button', data-dismiss='alert', aria-label="Close").close
          span(aria-hidden='true') ×
        p= error

    form(action='./update', method='post')
      input(type='hidden',name='_csrf',value=csrfToken)
      h2
        label(for='code') Code
      div.form-group
        textarea.form-control(name='code')#code= code

      h2
        label(for="params") Parameters
      div.form-group
        textarea#params(name="params").form-control= params

      if feed
        h2
          label.control-label Feed
        div.form-group
          input(type='hidden',name='feedId',value=feed.identifier)
          p.form-control-static= feed.name

      div.form-group
        button(type='submit').btn.btn-primary Update
